@{
    ViewData["Title"] = "Online";
}

<body id="body" onload="Test()">
    <div class="imgbox">
        <img class="chess-board" id="ChessBoard" src="@Url.Content("~/images/Chess_Board.png")" alt="Chess Board" />
    </div>

</body>
